<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MC (Beta)</title>
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.umd.js"></script>
</head>
<body>
  <div id="image_container" class="image">IMAGE</div>
  <div id="sentence_div"> <span id="sentence" class="sentence"></span></div>
  <br><br>
  <div id="options_container" class="options">
    <div id="option_a_div" class="option_div"><span class="option" id="option_a">Option A</span></div>
    <div id="option_b_div" class="option_div"><span class="option" id="option_b">Option B</span></div>
    <div id="option_c_div" class="option_div"><span class="option" id="option_c">Option C</span></div>
    <div id="option_d_div" class="option_div"><span class="option" id="option_d">Option D</span></div>
  </div>
  <footer class="footer-text">
   Model: fm-gai-lottie-multiple-choice-v1. Developed by Kramar's Educational Technologies. This software is copyright.
  </footer>
  <script src="../static/script.js"></script>
</body>
</html>